
<%= simple_form_for(@bill) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :bill_type, collection: @bill_type %>
    <%= f.input :paid_value %>   
    <%#= f.input :month_value %>
    <%= f.input :paid_date %>
    <%= f.input :maturity_date %>
    <%= f.association :bill_month %> 
  </div>

   <div id="bill_apportionments">
    <%= f.simple_fields_for :bill_apportionments do |bill_apportionment| %>
      <%= render 'bill_apportionment_fields', f: bill_apportionment %>
    <% end %>
  </div>

  <div class="links">
    <%= link_to_add_association 'novo rateio', f, :bill_apportionments, class: "btn btn-primary float-right" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
