<p id="notice"><%= notice %></p>

<h1>Lançamento de contas</h1>

<table>
  <thead>
    <tr>
      <th>Valor pago</th>
      <th>Valor do mês</th>
      <th>Data paga</th>
      <th>Data do vencimento</th>
      <th>Status</th>
      <th>Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.paid_value %></td>
        <td><%= bill.month_value %></td>
        <td><%= bill.paid_date.strftime('%a %d %b %Y') %></td>
        <td><%= bill.maturity_date.strftime('%a %d %b %Y')  %></td>
        <td><%= bill.bill_month.status %></td>
        <td><%= bill.bill_type.name %></td>
        <td><%= link_to 'Abrir', bill, class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_bill_path(bill), class: "btn btn-primary float-right" %></td>
        <td><%= link_to 'Apagar', bill, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <td><%= link_to 'Rateio', bill_bill_apportionments_path(bill), class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo lançamento de conta', new_bill_path, class: "btn btn-primary" %>
