<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th>Paid value</th>
      <th>Month value</th>
      <th>Paid date</th>
      <th>Maturity date</th>
      <th>Bill month</th>
      <th>Bill type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.paid_value %></td>
        <td><%= bill.month_value %></td>
        <td><%= bill.paid_date %></td>
        <td><%= bill.maturity_date %></td>
        <td><%= bill.bill_month.status %></td>
        <td><%= bill.bill_type.name %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
