<p id="notice"><%= notice %></p>

<h1>Month Bills</h1>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Status</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @month_bills.each do |month_bill| %>
      <tr>
        <td><%= month_bill.month %></td>
        <td><%= month_bill.status %></td>
        <td><%= month_bill.house %></td>
        <td><%= link_to 'Show', month_bill %></td>
        <td><%= link_to 'Edit', edit_month_bill_path(month_bill) %></td>
        <td><%= link_to 'Destroy', month_bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Month Bill', new_month_bill_path %>
