<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @month_bill.month %>
</p>

<p>
  <strong>Status:</strong>
  <%= @month_bill.status %>
</p>

<p>
  <strong>House:</strong>
  <%= @month_bill.house %>
</p>

<%= link_to 'Edit', edit_month_bill_path(@month_bill) %> |
<%= link_to 'Back', month_bills_path %>
