<%= simple_form_for @bill_type do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%#= f.input :maturity, as: :date %>
  <%= f.input :value, as: :decimal %>

  <h3>Bill Splitings</h3>

  <div id="bill_splitings">
    <%= f.simple_fields_for :bill_splitings do |bill_spliting| %>
      <%= render 'bill_spliting_fields', f: bill_spliting %>
    <% end %>
  </div>
  
  <div class="links">
    <%= link_to_add_association 'add bill spliting', f, :bill_splitings, class: "btn btn-primary float-right" %>
  </div>

  <%= f.button :submit %>
<% end %>