<p id="notice"><%= notice %></p>

<h1>Bill Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_types.each do |bill_type| %>
      <tr>
        <td><%= bill_type.name %> </td>
        <td><%= link_to 'Show', bill_type %></td>
        <td><%= link_to 'Edit', edit_bill_type_path(bill_type) %></td>
        <td><%= link_to 'Destroy', bill_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Split', new_bill_type_bill_spliting_path(bill_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill Type', new_bill_type_path %>
