<h1>New Bill Type</h1>

<%= simple_form_for @bill_type do |f| %>
	<%= f.input :name %>
	<%= f.input :description %>
	<%#= f.input :house_id %>
	<%#= f.input :maturity, as: :date %>
	<%= f.input :value, as: :decimal %>

  <h3>Bill Splitings</h3>

  <div id="bill_splitings">
    <%= f.simple_fields_for :bill_splitings do |bill_spliting| %>
      <%= render 'bill_spliting_fields', f: bill_spliting %>
    <% end %>
  </div>
	
  <div class="links">
    <%= link_to_add_association 'add bill spliting', f, :bill_splitings, class: "btn btn-primary float-right" %>
  </div>

	<%= f.button :submit %>
<% end %>

<%= link_to 'Back', bill_types_path %>
